<td>
  <!-- Sub copy -->
  <table class="body-sub email-footer" role="presentation">
    <tr>
      <td>
        <p class="f-fallback sub">
          <a href="https://www.github.com/jodosjodos">Unsubscribe</a> from
          this type of email
        </p>
      </td>
    </tr>
  </table>
  <table
    class="email-footer"
    align="center"
    width="570"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
  >
    <tr>
      <td class="content-cell" align="center">
        <p class="f-fallback sub align-center">
          jodos group
          <br />Nyabihu Rwanda <br />
        </p>
      </td>
    </tr>
  </table>
</td>
